
Language: Cpp
Standard: c++20

AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes
ColumnLimit: 80
CompactNamespaces: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
DerivePointerAlignment: false
FixNamespaceComments: true
IncludeBlocks: Preserve
IndentWidth: 4
PointerAlignment: Left
ShortNamespaceLines: 0
SortIncludes: true
SortUsingDeclarations: false
SpaceInEmptyParentheses: false
TabWidth: 4
UseTab: Never
